html {
    scroll-padding-top: 24px;
}

.menu-prodotti {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
    width: 120px;
    overflow-y: auto;
}

.prodotti-container {
    position: absolute;
    width: calc( 100% - 120px );
    right: 0;
}

.intro-prodotti {
    margin-top: 10%;
}

.content {
    opacity: 100%;
}

.content-prodotti {
    opacity: 100%;
}

.content-prodotti {
    animation-name: intro;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}

.sub-content-prodotti {
    background-color: var( --light-color-border );
    margin: 8px 0px;
    padding: 8px;
}

.intro-prodotti h1 {
    font-size: 84px;
    margin: 0;
}

.site-logo-prodotti {
    margin-top: 10%;
}

@media (max-width: 900px) {
    .prodotti-container {
        width: 100%;
    }

    .prodotti {
        width: 100%;
    }

    .menu-prodotti{
        display: none;
    }
}

.menu-item-prodotti {
    color: var(--light-color);
    background-color: var(--dark-color);
    font-size: 20px;
    text-decoration: none;
    padding: 24px;
    border-radius: 48px;
    width: auto;
    margin-right: 0;
    margin-left: 0;
}

.menu-item-prodotti:hover {
    background-color: var(--hover-color);
}

.menu-itemprodotti:active {
    color: var(--dark-color);
}