body {
    margin: 0;
}

#visualizzatore {
    position: absolute;
    padding: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    box-sizing: border-box;
}

#canvas-container {
    flex: 1;
    width: 500px;
    height: 500px;
    justify-content: center;
    z-index: 9999;
}

#canvas-container canvas {
    border-radius: 48px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--light-color);
}

.site-logo {
    position: fixed;
    margin: 0;
    padding: 8px;
    background-color: var(--dark-color);
    border-bottom-right-radius: calc(var(--border-radius) / 2);
    z-index: 9997;
}

.content {
    animation-name: content-popup;
    animation-fill-mode: forwards;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}

p[data-info="descrizione"] {
    margin: 0;
    margin-top: 24px;
    max-height: 250px;
    overflow-y: auto;
}

.vis-info-container {
    order: 1;
    flex: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-separator {
    background-color: var(--hover-color);
    width: 100%;
    height: 2px;
}

.info-descr {
    margin: 8px;
    margin-top: 24px;
}

#stile-slot-container {
    position: absolute;
    margin: 24px;
    padding: 4px;
    display: flex;
    background-color: lightgray;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    border-radius: 9999px;
    align-items: center;
}

#stile-slot-container p {
    margin: 0 12px;
}

.stile-slot {
    margin: 2px;
    padding: 8px;
    border-radius: 9999px;
    border-style: none;
}

.stile-slot:hover,
.stile-slot:active,
.active-slot {
    border-radius: 12px;
}

.active-slot {
    border-style: solid;
    border-width: 2px;
    filter: brightness(75%);
}

@keyframes fade {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fade-text {
    from {
        opacity: 0%;
        margin-top: 24px;
    }
    to {
        opacity: 100%;
    }
}


@media (max-width: 900px) {

    #canvas-container {
        display: none;
    }
}